{
	"trailingComma": "all",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"parser": "json",
				"singleQuote": false,
				"useTabs": true,
				"tabWidth": 2
			}
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	]
}
